{% extends "base.html" %}

{% block title %}DC Code Editor{% endblock %}

{% block body %}
<div class="container">
	<h1>Timeline</h1>

	<div id="timeline">
		<div class="uparrow"> </div>
		<div class="timeline-row">
			<div class="timeline-patch">
				<a href="{{head_patch.edit_url}}/_new" style="font-style: italic">Start New Patch</a>
			</div>
		</div>
		<div id="timeline-patches">
		{% for patch_array in patch_tree %}
		<div class="timeline-group" data-patch-id="{{patch_array[0].id}}">
		{% for patch in patch_array %}
			<div class="timeline-row">
				<div class="timeline-patch {% if patch.type == "root" %}root{% endif %}" style="margin-left: {{patch.indent * 2}}em">
					<div class="timeline-patch-anchor"><a href="{{patch.edit_url}}">{{patch.id}}</a></div>
					<div class="timeline-patch-metadata">
						<div><em>Effective Date:</em> <span {% if patch.date_out_of_order %}style="color: red"title="Date Is Out Of Order"{% endif %}>{{patch.effective_date_display}}</span></div>
						{% if patch.modify_with_new_patch %}
							<div><a href="{{patch.edit_url}}/_new">Revise Patch</a></div>
						{% endif %}
						{% if patch.can_merge_up %}
							<div><a href="{{patch.edit_url}}/_merge_up" onclick="return do_merge_up(this);" data-title="{{patch.id}}" data-base_title="{{patch.base_id}}">Merge {% if patch.indent == 0%}Down {% endif %} with {{patch.base_id}}</a></div>
						{% endif %}
						{% if not patch.modify_with_new_patch and patch.indent > 0 %}
							<div><a href="{{patch.edit_url}}/_new">New Patch</a></div>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script>
function do_merge_up(elem) {
	show_modal_confirm(
		"Merge Patches",
		"Are you sure you want to merge " + elem.getAttribute("data-title") + " into " + elem.getAttribute("data-base_title") + "? Afterwards you will be left with a single patch named " + elem.getAttribute("data-base_title") + ".",
		"Merge",
		function() {
			ajax_call(
				elem.getAttribute('href'),
				{ },
				function(res) { window.location.reload(); },
				"Merge Patch with Parent");
		})
	return false;
}

</script>
{% endblock %}