{% extends "base.html" %}

{% block title %}DC Code Editor{% endblock %}

{% block body %}
<div class="container">
	<div style="float: right; text-align: right">
		<a id="commit_workspace" href="#" onclick="return do_commit_workspace()" class="btn btn-primary {% if not workspace_is_dirty %}disabled{% endif %}">Commit Workspace</a>
		<a href="/review" class="btn btn-primary">Review &amp; Publish...</a>
	</div>

	<h1>Timeline</h1>

	<div id="timeline">
		<div class="uparrow"> </div>
		<div class="timeline-row">
			<div class="timeline-patch" style="padding-bottom: 30px">

				<form class="form-inline" role="form" action="{{head_patch.edit_url}}/_new" onclick="return validate_new_patch_name();" method="post">
				  <input type="hidden" name="_csrf" value="{{csrf_token}}">
				  <div class="form-group">
				    <input name="name" type="text" class="form-control" id="new-patch-name" placeholder="A20-0123" onkeyup="update_new_patch_disabled()" onchange="update_new_patch_disabled()">
				  </div>
				  <button id="new-patch-submit" type="submit" class="btn btn-default disabled">New Patch</button>
				  <p class="small text-muted" style="margin-top: .5em">examples: A20-0123, A20-0123_title_1, 20-technical_correction-001</p>
				</form>
			</div>
		</div>

		<div id="timeline-patches">
		{% for patch_array in patch_tree %}
		<div class="timeline-group" data-patch-id="{{patch_array[0].id}}">
		{% for i, patch in patch_array %}
			<div class="timeline-row {% if patch.type == "root" %}root{% endif %} {% if i == 0 %}spine{% endif %}">
				<div class="timeline-patch" style="margin-left: {{patch.indent * 2}}em">
					<div>
						{% if patch.type == 'patch' && patch.indent == 0 %}
							<span class="drag-handle">☰</span>
						{% else %}
							<span class="fake-drag-handle">☰</span>
						{% endif %}

						<a href="{{patch.edit_url}}">{{patch.id}}</a>
					</div>
					<div class="timeline-patch-metadata">
						{% if patch.type == "patch" %}
							{% if patch.draft %}
								<div class="draft">draft</div>
							{% endif %}
							<div class="effective-date" data-effective-date="{{patch.effective_date_stamp}}"><em>Effective Date:</em> <span>{{patch.effective_date_display}}</span></div>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script>
var are_effective_dates_in_order = false;

function update_new_patch_disabled() {
	$('#new-patch-submit').toggleClass('disabled', !validate_new_patch_name());
}
function validate_new_patch_name() {
	// Check that a patch name looks like one of these:
	//   L20-0123, L20-0123A, A53-123, 20 (our own thing for a correction)
	// Plus "_anything" optionally.
	var val = $('#new-patch-name').val();
	return /^(L\d{2}-\d{4}[A-Z]?|A\d+-\d+|\d{2}-[A-Za-z0-9\-_]+)(_[A-Za-z0-9\-_]+)?$/.exec(val);
}

function update_effective_date_warnings() {
	$('#timeline-patches .spine').removeClass("invalid-date");
	are_effective_dates_in_order = true;

	var prev_node = null;
	$('#timeline-patches .spine').each(function(i, item) {
		if (prev_node != null) {
			function get_timestamp(node) {
				var v = $(node).find('.effective-date').attr('data-effective-date');
				if (v == 'null') return null;
				return parseInt(v);
			}
			var d1 = get_timestamp(prev_node);
			var d2 = get_timestamp(item);
			if ((d1 && d2) && (d1 < d2)) {
				$(prev_node).addClass("invalid-date");
				$(item).addClass("invalid-date");
				are_effective_dates_in_order = false;
			}
		}
		prev_node = item;
	});
}

$(function() {
   update_effective_date_warnings();

   $('#timeline-patches').sortable({
        // Only make the .panel-heading child elements support dragging.
        // Omit this to make then entire <li>...</li> draggable.
        axis: 'y',
        handle: '.drag-handle',
        cursor: "move",
        stop: function( event, ui ) {
        	var patch_id = ui.item.attr("data-patch-id");
        	var place_after_id = ui.item.next().attr("data-patch-id");
        	var place_before_id = ui.item.prev().attr("data-patch-id");

        	if (!place_after_id) {
        		// before the first patch
        		show_modal_error("Move", "You cannot drag a patch here.");
        		$("#timeline-patches").sortable("cancel");
        		return;
        	}

			show_modal_confirm(
				"Move Patch",
				"Are you sure you want to move " + patch_id + " to follow " + place_after_id
				+ (place_before_id ? " (and precede " + place_before_id + ")" : "")
				+ "?",
				"Move",
				function() {
					// user says go for it
					ajax_call(
						"/patch/" + patch_id + "/_action",
						{
							action: "move",
							new_base: place_after_id
						},
						function(res) {
							// it worked, so keep the sort order...
							update_effective_date_warnings()
							$('#commit_workspace').removeClass('disabled')
						},
						"Move",

						 // error of some sort, attempt to put things back. seems like we can still
						 // call cancel asynchronously with the event that generated the sort
						 // stop event in the first place.
						function() { $("#timeline-patches").sortable("cancel"); }
					);
				},
				function() {
					// user says cancel
		        	$("#timeline-patches").sortable("cancel");
				});
        }
    });
});

function do_commit_workspace() {
	show_modal_confirm(
		"Commit Workspace",
		"Are you ready to make a git commit for the workspace?",
		"Commit",
		function() {
			// user says go for it
			ajax_call(
				"/_commit_workspace",
				{
				},
				function(res) {
					show_modal_error("Commit Workspace", "Done.");
					$('#commit_workspace').addClass('disabled')
				},
				"Commit Workspace"
			);
		});
	return false;
}

</script>
{% endblock %}