{% extends "base.html" %}

{% block title %}DC Code Editor{% endblock %}

{% block body %}
<div class="container">
	<h1>Timeline</h1>

	<div id="timeline">
		<div class="uparrow"> </div>
		<div class="timeline-row">
			<div class="timeline-patch">
				<a href="{{head_patch.edit_url}}/_new" style="font-style: italic">Start New Patch</a>
			</div>
		</div>
		<div id="timeline-patches">
		{% for patch_array in patch_tree %}
		<div class="timeline-group" data-patch-id="{{patch_array[0].id}}">
		{% for patch in patch_array %}
			<div class="timeline-row">
				<div class="timeline-patch {% if patch.type == "root" %}root{% endif %}" style="margin-left: {{patch.indent * 2}}em">
					<div>
						{% if patch.type == 'patch' && patch.indent == 0 %}
							<span class="drag-handle" style="cursor: move">☰</span>
						{% endif %}

						<a href="{{patch.edit_url}}">{{patch.id}}</a>
					</div>
					<div class="timeline-patch-metadata">
						{% if patch.type == "patch" %}
							<div><em>Effective Date:</em> <span {% if patch.date_out_of_order %}style="color: red"title="Date Is Out Of Order"{% endif %}>{{patch.effective_date_display}}</span></div>
						{% endif %}
						{% if patch.can_merge_up and patch.indent > 0 %}
							<div><a href="{{patch.edit_url}}/_merge_up" onclick="return do_merge_up(this);" data-title="{{patch.id}}" data-base_title="{{patch.base_id}}">Merge with {{patch.base_id}}</a></div>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script>
$(function() {
   $('#timeline-patches').sortable({
        // Only make the .panel-heading child elements support dragging.
        // Omit this to make then entire <li>...</li> draggable.
        axis: 'y',
        handle: '.drag-handle',
        cursor: "move",
        stop: function( event, ui ) {
        	var patch_id = ui.item.attr("data-patch-id");
        	var place_after_id = ui.item.next().attr("data-patch-id");
        	var place_before_id = ui.item.prev().attr("data-patch-id");

        	if (!place_after_id) {
        		// before the first patch
        		show_modal_error("Move", "You cannot drag a patch here.");
        		$("#timeline-patches").sortable("cancel");
        		return;
        	}

			show_modal_confirm(
				"Move Patch",
				"Are you sure you want to move " + patch_id + " to follow " + place_after_id
				+ (place_before_id ? " (and precede " + place_before_id + ")" : "")
				+ "?",
				"Move",
				function() {
					// user says go for it
					ajax_call(
						"/patch/" + patch_id + "/_action",
						{
							action: "move",
							new_base: place_after_id
						},
						function(res) {
							// it worked, so keep the sort order...
						},
						"Move",

						 // error of some sort, attempt to put things back. seems like we can still
						 // call cancel asynchronously with the event that generated the sort
						 // stop event in the first place.
						function() { $("#timeline-patches").sortable("cancel"); }
					);
				},
				function() {
					// user says cancel
		        	$("#timeline-patches").sortable("cancel");
				});
        }
    });
});

function do_merge_up(elem) {
	show_modal_confirm(
		"Merge Patches",
		"Are you sure you want to merge " + elem.getAttribute("data-title") + " into " + elem.getAttribute("data-base_title") + "? Afterwards you will be left with a single patch named " + elem.getAttribute("data-base_title") + ".",
		"Merge",
		function() {
			ajax_call(
				elem.getAttribute('href'),
				{ },
				function(res) { window.location.reload(); },
				"Merge Patch with Parent");
		})
	return false;
}

</script>
{% endblock %}