{% extends "base.html" %}

{% block title %}{{patch.get_display_title}}{% endblock %}

{% block body %}
<div class="container">
	<p id="patch_actions" style="font-size: 80%; color: #444; margin: 0;">
		<span>rename</span>
		|
		<span>delete</span>
	</p>
	<h1 style="margin-top: 0">{{patch.title}}</h1>

	<div class="row">
		{% if patch.type != "root" %}
		<div class="col-sm-6">
			<h2>Changed In This Patch</h2>

			{% if diffs.length > 0 %}
				<h3>File List</h3>
				<ul style="list-style: none; padding: 0;">
					{% for change in diffs %}
						<a href="{{patch.edit_url}}/editor?file={{change.path}}">{{change.path}}</a>
					{% endfor %}
				</ul>

				<h3>Changes</h3>
				<div id="diffs">
					{% for change in diffs %}
						<p class="filename"><a href="{{patch.edit_url}}/editor?file={{change.path}}">{{change.path}}</a></p>
						<div class="diff">{% for word in change.diff %}<span class="{% if word.added %}added{% endif %} {% if word.removed %}removed{% endif %}">{{word.value}}</span>{% endfor %}</div>
					{% endfor %}
				</div>
			{% else %}
				<p>There are no changes to the code in this patch.
			{% endif %}
		</div>
		{% endif %}

		<div class="col-sm-6">
			{% if !readonly %}
				<h2>Edit {% if patch.has_changes %}New{% endif %} File...</h2>
				<p>Choose a file below to modify it:</p>
			{% else %}
				<h2>View File</h2>
				{% if patch.type == "root" %}
					<p>The files cannot be modified in a root patch.</p>
				{% else %}
					<p>The files cannot be modified in this patch because there are other patches that continue from it. To modify this patch, first start a <a href="{{patch.edit_url}}/_new">revision patch</a> and then merge the patches.</p>
				{% endif %}
			{% endif %}

			<ul style="list-style: none; padding: 0;">
			{% if path_up %}
				<p><strong>{{path}}</strong></p>
				<li>[<a href="{{patch.edit_url}}{% if path_up != "." %}?path={{path_up}}{% endif %}">&mdash; go up a level &mdash;</a>]</li>
			{% endif %}
			{% for entry in files %}
			<li>
				{% if entry.type == "tree" %}
					<a href="{{patch.edit_url}}?path={% if path %}{{path}}/{% endif %}{{entry.name}}">{{entry.name}}</a>/...
				{% else %}
					<a href="{{patch.edit_url}}/editor?file={% if path %}{{path}}/{% endif %}{{entry.name}}">{{entry.name}}</a>
				{% endif %}
			</li>
			{% endfor %}
			</ul>

			{% if !readonly %}
				<h3>Create New File</h3>
				<p>Create a new file in {% if !path_up %}this directory{% else %}{{path}}{% endif %}.</p>
				<form role="form" onsubmit="return do_new_file()">
				  <div class="form-group">
				    <label for="newfileFilename">File Name</label>
				    <input type="text" class="form-control" id="newfileFilename" placeholder="299-001.xml">
				  </div>
				  <button type="submit" class="btn btn-default">Create</button>
				</form>				
			{% endif %}

		</div>
	</div>

	<!--
	<h2>New Patch</h2>
	<p>Start a <a href="{{patch.edit_url}}/_new">new patch</a> based on the text of the Code as it appears in this patch?</p>
	-->

{% endblock %}

{% block scripts %}
<script>
	$(function() {
		$('#patch_actions span').css({cursor: "pointer"}).click(function() {
			patch_action($(this).text());
		});
	});

	function patch_action(action) {
		var value;
		if (action == "rename") {
			var elem = $('h1');
			value = prompt("Rename this patch?", elem.text());
			if (!value) return;
		}

		ajax_call(
			"{{patch.edit_url}}/_action",
			{
  				action: action,
  				value: value
  			},
  			function(res) { window.location = res.redirect; },
  			action);
	}

	function do_new_file() {
		var value = $('#newfileFilename').val();
		if (value == "") return false;
		ajax_call(
			"/new-patch-file",
			{ patch: "{{patch.id}}", file: "{% if path %}{{path}}/{% endif %}" + value },
			function(res) { window.location = res.redirect },
			"Create New File")
		return false;
	}

</script>
{% endblock %}
