/* Text Editor */

	#save_status {
		margin-top: 20px;
		float: right;
		width: 200px;
		text-align: right;
	}

	.editor_text_modified {
		background-color: #FCA;
		font-weight: bold;
	}

	#editor_preview {
		background-color: #FAFAFA;
		min-height: 1000px;
	}

