/* Home */

#timeline {
	clear: both;
}
#timeline .timeline-row {
	margin-left: 3px;
	border-left: 2px solid black;
	padding-left: 8px;
}
	#timeline .timeline-patch {
		padding-bottom: 1em;
	}
	#timeline .timeline-patch.root {
		padding-bottom: 0;
	}
	#timeline .drag-handle {
		cursor: move;
		color: #77A;
	}
	#timeline .fake-drag-handle {
		cursor: default;
		color: #DDD;
	}
	#timeline .timeline-row.invalid-date {
		color: red;
	}
#timeline .timeline-patch-metadata {
	margin-left: 2em;
	font-size: 90%;
}
	#timeline .timeline-patch-metadata a:before { content: "<"; }
	#timeline .timeline-patch-metadata a:after { content: ">"; }
#timeline .uparrow {
	background-image: url('arrowhead.png');
	width: 8px;
	height: 8px;
}

/* Patch View */

#diffs > .diff {
	white-space: pre-wrap;
	font-size: 15px;
	line-height: 19px;
	font-family: Georgia, 'Cambria', 'Times New Roman', serif !important;
	border: 1px solid #DDD;
	background-color: #FAFAFA;
	padding: 3px;
}
	#diffs > .diff > .added {
		background-color: #FEE;
		font-weight: bold;
	}
	#diffs > .diff > .removed {
		background-color: #FEE;
		color: #888;
		text-decoration: line-through;
	}

/* Text Editor */

.CodeMirror, #editor_preview {
	font-size: 18px !important;
	line-height: 22px !important;
	font-family: Georgia, 'Cambria', 'Times New Roman', serif !important;
}
	.CodeMirror-code > * {
		padding-bottom: .33em;
	}

	#save_status {
		margin-top: 20px;
		float: right;
		width: 200px;
		text-align: right;
	}

	.editor_text_modified {
		background-color: #FEE;
		font-weight: bold;
	}

	.editor_text_deleted {
		background-color: #FEE;
		color: #888;
		text-decoration: line-through;
	}

	#editor_preview {
		background-color: #FAFAFA;
		min-height: 1000px;
	}

 