/* Text Editor */

#diffs > .diff {
	white-space: pre-wrap;
	font-size: 15px;
	line-height: 19px;
	font-family: Georgia, 'Cambria', 'Times New Roman', serif !important;
	border: 1px solid #DDD;
	background-color: #FAFAFA;
	padding: 3px;
}
	#diffs > .diff > .added {
		background-color: #FEE;
		font-weight: bold;
	}
	#diffs > .diff > .removed {
		background-color: #FEE;
		color: #888;
		text-decoration: line-through;
	}

.CodeMirror, #editor_preview {
	font-size: 18px !important;
	line-height: 22px !important;
	font-family: Georgia, 'Cambria', 'Times New Roman', serif !important;
}
	.CodeMirror-code > * {
		padding-bottom: .33em;
	}

	#save_status {
		margin-top: 20px;
		float: right;
		width: 200px;
		text-align: right;
	}

	.editor_text_modified {
		background-color: #FEE;
		font-weight: bold;
	}

	.editor_text_deleted {
		background-color: #FEE;
		color: #888;
		text-decoration: line-through;
	}

	#editor_preview {
		background-color: #FAFAFA;
		min-height: 1000px;
	}

 